* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.bgGameOTT {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../imgGameOTT/bgGame.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom bottom;
}

.bgGameOTT h3 {
  text-align: center;
  background-image: linear-gradient(to right, yellow 25%, red 75%);
  color: transparent;
  background-clip: text;
  font-size: 35px;
}

.gamePlay {
  display: flex;
  justify-content: space-between;
  padding: 1em 0 1em 0;
}

.gamePlay .result {
  position: relative;
}

.gamePlay .result p {
  text-align: center;
  background-image: linear-gradient(to left, yellow, orange 60%);
  color: transparent;
  background-clip: text;
  font-size: 25px;
}

.gamePlay .result .btn {
  position: absolute;
  display: block;
  left: 25%;
  /* translate: (50%, -50%); */
  font-size: 20px;
}

/* icon player */
.gamePlay .player .icon {
  width: 10em;
  height: 10em;
}

.gamePlay .player .option {
  display: block;
  width: 3.5em;
  height: 3.5em;
}

.gamePlay .player .pick{
  text-align: center;
  background-image: linear-gradient(to left, yellow, orange 60%);
  color: transparent;
  background-clip: text;
  font-size: 25px;
}
.gamePlay .player .selectOTT {
  display: flex;
}

.gamePlay .player .btn {
 display: block;
}
