.bgGameOTT {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../imgGameOTT/bgGame.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom bottom;
  h3 {
    text-align: center;
    background-image: linear-gradient(to right, yellow 25%, red 75%);
    color: transparent;
    background-clip: text;
    font-size: 35px;
  }
}

//CSS component Player,Computer
.player {
  position: relative;
  .pick-title {
    text-align: center;
    background-image: linear-gradient(to left, yellow, orange 60%);
    color: transparent;
    background-clip: text;
    font-size: 25px;
  }
  .thinking {
    position: relative;
    .thinking-pick {
      position: absolute;
      width: 100px;
      height: 60px;
      top: -0.8em;
      left: 12em;
      border-radius: 50%;
      background-color: grey;
      &::after {
        content: "";
        position: absolute;
        z-index: 20;
        top: 3.7em;
        left: 2.7em;
        width: 0em;
        height: 0em;
        border-top: 16px solid grey;
        border-left: 2px solid transparent;
        border-right: 15px solid transparent;
      }
    }
    .pick-img {
      display: block;
      width: 3em;
      height: 3em;
      position: absolute;
      top: -0.5em;
      left: 13.7em;
    }
  }
  .icon {
    width: 10em;
    height: 10em;
    position: absolute;
    top: 6.8em;
    left: 11.2em;
  }
  .selectOTT {
    display: flex;
    position: absolute;
    bottom: -3em;
    left: 9em;
    .option {
      display: block;
      width: 3.5em;
      height: 3.5em;
    }
  }
}
//component gamePlay
.gamePlay {
  padding: 1em 0 1em 0;
  .result {
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
      text-align: center;
      background-image: linear-gradient(to left, yellow, orange 60%);
      color: transparent;
      background-clip: text;
      font-size: 25px;
    }
    .btn {
      display: block;
      max-width: 100%;
      font-size: 20px;
    }
  }
}
